body,
html {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden !important;
  font-size: 62.5%;
}

.bcg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/background.jpg");
}

.slide-1 {
  background-color: black;
}

.aboutMeSection,
.skillsSection,
.projectsSection,
.contactSection {
  width: 100%;
  height: 100vh;
}
.aboutMeSection {
  background: linear-gradient(#000, #191919);
}
.skillsSection {
  background: linear-gradient(#191919, #333);
}
.projectsSection {
  background: linear-gradient(#333, #4c4c4c);
}
.contactSection {
  background: linear-gradient(#4c4c4c, #fff);
}
