/* --------------- Basic setup --------------- */
/* --------------- Fonts --------------- */
@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600&family=Libre+Franklin:wght@100;200;300;400;500&family=Ubuntu:wght@300;400;500;700&display=swap");

body,
html {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden !important;
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

.aboutMeSection,
.skillsSection,
.projectsSection,
.contactSection {
  width: 100%;
  height: 100vh;
}
.aboutMeSection {
  background: linear-gradient(#000, #191919);
}
.projectsSection {
  background: linear-gradient(#191919, #333);
}
.contactSection {
  background: linear-gradient(#4c4c4c, #fff);
}

/* --------------- HomePage --------------- */
.home {
  position: absolute;
  left: 0;
  top: 0;
}
.homePageWrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
}

.homeSlide {
  z-index: 1;
}

.bcg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/background.jpg");
}

.slide-1 {
  background-color: black;
}
/* --------------- HomePage navigation --------------- */

.homePageNav {
  width: 90%;
  margin: 50px auto 0 auto;
}

.navButtonContainer {
  width: 100%;
}

.navButton {
  text-decoration: none;
  border: none;
  outline: none;
  background: linear-gradient(to right, #fff 3px, transparent 3px) 0 0,
    linear-gradient(to right, #fff 3px, transparent 3px) 0 100%,
    linear-gradient(to left, #fff 3px, transparent 3px) 100% 0,
    linear-gradient(to left, #fff 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, #fff 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, #fff 3px, transparent 3px) 100% 0,
    linear-gradient(to top, #fff 3px, transparent 3px) 0 100%,
    linear-gradient(to top, #fff 3px, transparent 3px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 9px 9px;
  padding: 5px 15px;
  color: #fff;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  transition: background-size 0.5s;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 300;
  width: auto;
}

.navButton:hover {
  background-size: 100% 100%;
}

/* --------------- 3d title on the homePage --------------- */
#perspective {
  perspective: 700px;
}

.Title3d {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 200;
}

.backOfTitle {
  text-align: center;
  width: 250px;
  padding: 8px 0;
  margin: 0 auto;
  background-color: #ddd;
  color: #3d665b;
  position: relative;
  transform: rotateX(-90deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 3px;
}

.frontOfTitle {
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  transform: rotateX(-90deg);
}

.frontOfTitle .name {
  padding: 8px 0;
  border-radius: 3px;
  display: block;
  border: 1px #3d665b solid;
  background-color: #3d665b;
  color: #ddd;
  transform: rotateX(-180deg);
}

/* --------------- Mouse icon animation --------------- */
.mouseIconContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.mouseIcon {
  width: 20px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 60px;
  position: relative;
}

.mouseIcon::before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  animation: mouseWheel 1.5s infinite;
  -webkit-animation: mouseWheel 1.5s infinite;
}
@keyframes mouseWheel {
  to {
    opacity: 0;
    top: 20px;
  }
}

@-webkit-keyframes mouseWheel {
  to {
    opacity: 0;
    top: 20px;
  }
}
/* --------------- Fixed menu --------------- */
.fixedMenu {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 2%;
  left: 5%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
  z-index: 999;
}

.fixedMenu.active {
  visibility: visible;
  opacity: 1;
  top: 5%;
}

.hamburger {
  filter: invert(100%) sepia(11%) saturate(7493%) hue-rotate(226deg)
    brightness(113%) contrast(112%);
  width: 100%;
  height: auto;
}

.fixedMenuContainer {
  position: absolute;
  padding: 5px 0 0 20px;
  list-style: none;
  width: max-content;
  visibility: hidden;
  opacity: 0;
  left: -30%;
  transition: 0.3s;
}

.fixedMenuContainer.clicked {
  visibility: visible;
  opacity: 1;
  left: 0%;
}

.fixedMenuContainer li {
  margin-bottom: 8px;
}

.fixedMenuItem {
  text-decoration: none;
  border: none;
  outline: none;
  color: #ddd;
  font-size: 1rem;
}
/* --------------- About me section --------------- */
/* --------------- Projects section --------------- */
/* --------------- Skills section --------------- */
.skillsSection {
  background: linear-gradient(#333, #4c4c4c);
}

.skills {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* --------------- Contact section --------------- */
