/* --------------- Basic setup --------------- */
/* --------------- Fonts --------------- */
@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600&family=Libre+Franklin:wght@100;200;300;400;500&family=Ubuntu:wght@300;400;500;700&display=swap");

body,
html {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden !important;
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

.projectsSection {
  width: 100%;
  height: 100vh;
}

.projectsSection {
  background: linear-gradient(#080808, #111);
}

/* --------------- Reusable components --------------- */

.sectionTitleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}
.sectionTitle {
  font-size: 2.4rem;
  padding: 8px 15px;
  background: linear-gradient(to right, #fff 2px, transparent 2px) 0 0,
    linear-gradient(to left, #fff 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, #fff 2px, transparent 2px) 0 0,
    linear-gradient(to top, #fff 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 9px 9px;
  z-index: 100;
  color: #eee;
  font-family: Libre Franklin;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 0;
}

/* --------------- HomePage --------------- */
.home {
  position: absolute;
  left: 0;
  top: 0;
}
.homePageWrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
}

.homeSlide {
  z-index: 1;
}

.bcg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/background.jpg");
}

.slide-1 {
  background-color: black;
}
/* --------------- HomePage navigation --------------- */

.homePageNav {
  width: 90%;
  margin: 50px auto 0 auto;
}

.navButtonContainer {
  width: 100%;
}

.navButton {
  text-decoration: none;
  border: none;
  outline: none;
  background: linear-gradient(to right, #fff 3px, transparent 3px) 0 0,
    linear-gradient(to right, #fff 3px, transparent 3px) 0 100%,
    linear-gradient(to left, #fff 3px, transparent 3px) 100% 0,
    linear-gradient(to left, #fff 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, #fff 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, #fff 3px, transparent 3px) 100% 0,
    linear-gradient(to top, #fff 3px, transparent 3px) 0 100%,
    linear-gradient(to top, #fff 3px, transparent 3px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 9px 9px;
  padding: 5px 15px;
  color: #fff;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  transition: background-size 0.5s;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 300;
  width: auto;
}

.navButton:hover {
  background-size: 100% 100%;
}

/* --------------- 3d title on the homePage --------------- */
#perspective {
  perspective: 700px;
}

.Title3d {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 200;
}

.backOfTitle {
  text-align: center;
  width: 250px;
  padding: 8px 0;
  margin: 0 auto;
  background-color: #ddd;
  color: #4a3a34;
  position: relative;
  transform: rotateX(-90deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 3px;
}

.frontOfTitle {
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  transform: rotateX(-90deg);
}

.frontOfTitle .name {
  padding: 8px 0;
  border-radius: 3px;
  display: block;
  border: 1px #4a3a34 solid;
  background-color: #4a3a34;
  color: #ddd;
  transform: rotateX(-180deg);
}

/* --------------- Mouse icon animation --------------- */
.mouseIconContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.mouseIcon {
  width: 20px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 60px;
  position: relative;
}

.mouseIcon::before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  animation: mouseWheel 1.5s infinite;
  -webkit-animation: mouseWheel 1.5s infinite;
}
@keyframes mouseWheel {
  to {
    opacity: 0;
    top: 20px;
  }
}

@-webkit-keyframes mouseWheel {
  to {
    opacity: 0;
    top: 20px;
  }
}
/* --------------- Fixed menu --------------- */
.fixedMenu {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 2%;
  left: 5%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
  z-index: 999;
}

.fixedMenu.active {
  visibility: visible;
  opacity: 1;
  top: 5%;
}

.hamburger {
  filter: invert(100%) sepia(11%) saturate(7493%) hue-rotate(226deg)
    brightness(113%) contrast(112%);
  width: 100%;
  height: auto;
}

.fixedMenuContainer {
  position: absolute;
  padding: 5px 0 0 20px;
  list-style: none;
  width: max-content;
  visibility: hidden;
  opacity: 0;
  left: -30%;
  transition: 0.3s;
}

.fixedMenuContainer.clicked {
  visibility: visible;
  opacity: 1;
  left: 0%;
}

.fixedMenuContainer li {
  margin-bottom: 8px;
}

.fixedMenuItem {
  text-decoration: none;
  border: none;
  outline: none;
  color: #ddd;
  font-size: 1rem;
}
/* --------------- About me section --------------- */
.aboutMeContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: min-content;
  background: linear-gradient(#000, #080808);
  padding: 80px 0;
}

.aboutMeTitle {
  padding: 2% 0;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: translateY(20px);
  z-index: 100;
}

.aboutMeTitle.active,
.roundPicture.active,
.description.active {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}

.aboutMe {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/mountains.jpg");
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 40px 0;
  border-radius: 10px;
}

.blurred {
  display: grid;
  grid-template-rows: 20% 30% 45%;
  position: relative;
  width: 70%;
  margin: auto;
  height: auto;
  background: inherit;
  border-radius: 2px;
}

.blurred:after {
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0 0 0 400px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
}

.description {
  line-height: 145%;
  font-size: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
  font-weight: 200;
  color: #fff;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}

.roundPictureWrapper {
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 80px 0;
}

.roundPicture {
  width: 150px;
  height: 150px;
  margin: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}

.aboutMePicture {
  border-radius: 50%;
  height: 100%;
  width: auto;
}

/* --------------- Projects section --------------- */
/* --------------- Skills section --------------- */

.skillsSection {
  background: linear-gradient(#111, #191919);
}

.skills {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: min-content;
  position: relative;
}

.canvasBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.skillsWraper {
  z-index: 100;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 16% 34% 16% 34%;
}

.skillsIcons {
  padding: 40px 0;
  display: grid;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  grid-template-rows: 50% 50%;
  grid-template-columns: 25% 25% 25% 25%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: translateX(40px);
}

.skillsIcons.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

.skillIconWrapper,
.toolIconWrapper {
  width: auto;
  height: 50px;
  margin: auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skillIcon {
  height: 100%;
  width: auto;
}
.toolsIcons {
  padding: 10px 0;
  display: grid;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: translateX(-40px);
}

.toolsIcons.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

.toolIcon {
  height: 100%;
  width: auto;
}

.skillName {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.skillsTitle,
.toolsTitle {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: translateY(20px);
}

.skillsTitle.active,
.toolsTitle.active {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}
/* --------------- Contact section --------------- */

.contactSection {
  background: linear-gradient(#191919, #fff);
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 120px 0;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: min-content;
  position: relative;
}

.contact {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 20% 80%;
}

.contactTitle {
  color: #000;
  font-size: 2.4rem;
  padding: 8px 15px;
  background: linear-gradient(to right, #000 2px, transparent 2px) 0 0,
    linear-gradient(to left, #000 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, #000 2px, transparent 2px) 0 0,
    linear-gradient(to top, #000 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 9px 9px;
  z-index: 100;
  font-family: Libre Franklin;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 0;
}

.form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  z-index: 100;
}

.formItem {
  display: block;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}

/* Form */
.input,
.formQuestion,
.label,
.textarea {
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  resize: none;
  cursor: text;
}

.textarea:focus,
.input:focus {
  outline: 0;
}
/* Question */

.input.question,
.textarea.question {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
}
/* Underline and Placeholder */

.input.question + .label,
.textarea.question + .label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 20%;
  border-top: 2px solid #725950;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

.input.question:focus + .label,
.textarea.question:focus + .label {
  width: 60%;
}

.input.question:focus,
.input.question:valid {
  padding-top: 35px;
}

.textarea.question:valid,
.textarea.question:focus {
  margin-top: 35px;
}

.input.question:focus + .label > .formQuestion,
.input.question:valid + .label > .formQuestion {
  top: -80px;
  font-size: 1.4rem;
  color: #333;
}

.textarea.question:focus + .label > .formQuestion,
.textarea.question:valid + .label > .formQuestion {
  top: -120px;
  font-size: 1.4rem;
  color: #333;
}

.input.question:valid + .label,
.textarea.question:valid + .label {
  border-color: #6ab04c;
}

.input.question:invalid,
.textarea.question:invalid {
  box-shadow: none;
}

.input.question + .label > .formQuestion,
.textarea.question + .label > .formQuestion {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #333;
  font-size: 1.4rem;
  top: -35px;
  left: 0px;
  z-index: 100;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.submitButtonContainer {
  padding: 20px 0;
}

.submitButton {
  text-decoration: none;
  border: none;
  outline: none;
  background: linear-gradient(to right, #725950 3px, transparent 3px) 0 0,
    linear-gradient(to right, #725950 3px, transparent 3px) 0 100%,
    linear-gradient(to left, #725950 3px, transparent 3px) 100% 0,
    linear-gradient(to left, #725950 3px, transparent 3px) 100% 100%,
    linear-gradient(to bottom, #725950 3px, transparent 3px) 0 0,
    linear-gradient(to bottom, #725950 3px, transparent 3px) 100% 0,
    linear-gradient(to top, #725950 3px, transparent 3px) 0 100%,
    linear-gradient(to top, #725950 3px, transparent 3px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 9px 9px;
  padding: 5px 15px;
  color: #333;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  transition: background-size 0.5s;
  cursor: pointer;
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 300;
  width: auto;
}

.submitButton:hover {
  background-size: 100% 100%;
}
